form input[name="cityname"],
form input[name="countryname"]{
    background-color: transparent;
    color: while;
    border: 0;
    border-bottom: 2px solid grey;
    border-radius: 0;

}
form input:focus{
    background-color: transparent !important;
    box-shadow: none !important;
}
form input{
    color: white !important;
}
::-webkit-input-placeholder{
    color: rgb(187, 183, 183) !important;
}
h4{
    color: black
}